{{template "head.html" .}}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{.page}}</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>
<input type="hidden" value="{{.uuid}}" id="uuid" />
{{ if eq .uuid ""}} {{end }}
{{ $stream:= .streamone}}
{{/*(index .streams .uuid) */}}
{{ $mainChannel := $stream }}
{{/*(index $stream.Channels "0") */}}
<section class="content">
  <div class="container-fluid">
    <div class="row" id="streams-form-wrapper">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Stream parameters <small> ... main channel</small></h3>
          </div>
          <form class="stream-form main-form">
            <div class="card-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Stream ID</label>
                <input type="text" class="form-control" name="stream-id" id="stream-id" placeholder="  Enter stream ID"
                  value="{{$stream.Uuid}}" {{if gt (len $stream.Uuid) 0 }} readonly{{end}}>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Stream name</label>
                <input type="text" class="form-control" name="stream-name" id="stream-name"
                  placeholder="  Enter stream name" value="{{$stream.CctvName}}">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Stream url</label>
                <input type="text" class="form-control" name="stream-url" id="stream-url"
                  placeholder="  Enter stream url" value="{{$mainChannel.RtspUrl}}">
              </div>
              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" name="on_demand" id="on_demand-switch" {{ if eq
                    $mainChannel.OnDemand true}} checked {{ end }}>
                  <label class="custom-control-label" for="on_demand-switch">OnDemand</label>
                </div>
              </div>
              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" name="debug" id="debug-switch" {{ if eq
                    $mainChannel.Debug true}} checked {{ end }}>
                  <label class="custom-control-label" for="debug-switch">Enable debug</label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      {{ if gt (len $stream.Channels) 1}}
      {{ range $key, $value := $stream.Channels }}
      {{ if ne $key "0"}}
      <div class="col-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">...sub channels</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" onclick="removeChannelDiv(this)"><i
                  class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="card-body">
            <form class="stream-form">
              <div class="form-group">
                <label for="exampleInputPassword1">Substream url</label>
                <input type="text" name="stream-url" class="form-control" placeholder="Enter stream url"
                  value="{{$value.URL}}">
              </div>
              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" name="on_demand"
                    id="substream-on_demand-switch-{{$key}}" {{ if eq $value.Debug true}} checked {{ end }}>
                  <label class="custom-control-label" for="substream-on_demand-switch-{{$key}}">OnDemand</label>
                </div>
              </div>
              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" name="debug" id="substream-debug-switch-{{$key}}"
                    {{ if eq $value.Debug true}} checked {{ end }}>
                  <label class="custom-control-label" for="substream-debug-switch-{{$key}}">Enable debug</label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
    <div class="row  mb-3">
      <div class="col-12">
        <!-- <button type="button" onclick="addChannel()" class="btn btn-secondary">Add channel</button> -->
        <button type="button" onclick="location.href='/stream/list'" class="btn btn-secondary">Cancel</button>
        <button type="button" onclick="SaveStream()" class="btn btn-primary">Save stream</button>
      </div>
    </div>

  </div>
</section>

{{template "foot.html" .}}

<script>
  const org_stream_id = ({{ .uuid }});

  function _getStreamList() { return JSON.parse({{.streamJson }}); }

  function SaveStream() {
    let isNewStream = false;
    if (org_stream_id == "") {
      isNewStream = true;
    }

    const stream_id = $('#stream-id').val();
    const stream_name = $('#stream-name').val();
    const stream_url = $('#stream-url').val();
    //console.log('SaveStream()....streamJson:' + {{.streamJson }});

    const streamList = _getStreamList();
    if (isNewStream) {
      if (streamList.hasOwnProperty(stream_id)) {
        console.log(`SaveStream()..:'` + stream_id + `' ??? already exist`);
        msg = "stream id(" + stream_id + ") ,already exists"
        Swal.fire({
          icon: 'error', title: 'Same Stream ID', text: msg,
          timer: 3000,
          showConfirmButton: true
        })
        return
      } else {
        console.log(`SaveStream()..:'` + stream_id + `' !!! new stream`);
      }

    }
    else {
      if (streamList.hasOwnProperty(stream_id)) {
        console.log(`SaveStream()..:'` + stream_id + `' !!! exist`);
      } else {
        msg = "stream id(" + stream_id + ") ,not exists"
        Swal.fire({
          icon: 'error', title: 'Unknown Stream ID', text: msg,
          timer: 3000,
          showConfirmButton: true
        })
        return;
      }
    }

    var params = {
      new_stream: Boolean(isNewStream),
      suuid: stream_id,
      name: stream_name,
      url: stream_url,
      debug: Boolean($('#debug-switch').prop('checked')),
      on_demand: Boolean($('#on_demand-switch').prop('checked')),
    }
    if (params.debug == null) {
      params.debug == false;
    }
    if (params.on_demand == null) {
      params.on_demand == false;
    }

    //console.log('SaveStream()...suuid:' + params.suuid + ', url:' + params.url  + ', demand:' + params.on_demand + ', debug:' + params.debug)
    Request_HttpApi('POST', CMD_SAVE_STREAM, params);
  }

</script>