</div><!-- content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->

</aside>
<!-- /.control-sidebar -->

<!-- Main Footer -->

</div>
<script>
  const CMD_SAVE_STREAM = 'save stream';
  const CMD_UPDATE_LIST = 'update list';
  const CMD_DELETE_STREAM = 'delete stream';

  const RESP_StatusNotFound = 404;
  const RESP_StatusConflict = 409;

  function Request_HttpApi(in_httpType, in_cmd, in_data) {
    let api_url = "";

    switch (in_cmd) {
      case CMD_SAVE_STREAM:
        api_url = '/stream/save';
        break;
      case CMD_UPDATE_LIST:
        api_url = '/stream/updatelist';
        break;
      case CMD_DELETE_STREAM:
        const suuid = in_data;
        api_url = '/stream/delete/' + suuid + '';
        break;
      default:
        Swal.fire({
          icon: 'error',
          title: 'Failure...',
          text: 'Unnormal request',
          confirmButtonText: 'Close',
        })
        return;
        break;
    }

    var ajaxParam = {
      url: api_url,
      type: in_httpType,
      beforeSend: function (xhr) {
        console.log("cmd: ", in_cmd, ", type:", in_httpType, ", api_url:'", api_url, "'");
        xhr.setRequestHeader("Authorization", "Basic " + btoa("rino:ese"));
      },
      success: function (response) {  //response handle
        if (response.status == "success") {
          msg = "'" + in_cmd + "' success "
          Swal.fire({
            icon: 'success', title: 'Response...', text: msg,
            timer: 1000,
            showConfirmButton: true
          }).then(() => {
            window.location.href = '/stream/list';
          });
        }
        else {
          msg = "'" + in_cmd + "' : " + response.status;
          Swal.fire({
            icon: 'success', title: 'Response...', text: msg,
          })
        }
      },
      error: function (e) {
        console.log(e);
        msg = "'" + in_cmd + "' : " + e.statusText;
        switch (in_cmd) {
          case CMD_SAVE_STREAM:
            if (e.status == RESP_StatusConflict) {
              msg = "the Stream_ID aleredy exists.";
            }
            else if (e.status == RESP_StatusNotFound) {
              msg = "the Stream does not exist."
            }
            break;
          //case CMD_UPDATE_LIST:
          //  break;
          //case CMD_DELETE_STREAM:
          //  break;
          default:
            break;
        }
        Swal.fire({
          icon: 'error', title: 'Response...', text: msg,
        })
      }
    };

    if (in_data != null) {
      ajaxParam.data = JSON.stringify(in_data);
      //console.log("Request_HttpApi()..'", in_cmd, "'(", ajaxParam.data, ")")
    }
    $.ajax(ajaxParam);
  }

</script>

<!-- ./wrapper -->


</body>

</html>