<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Rinortsp2Web</title>
  <link rel="stylesheet" href="/../static/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/../static/css/adminlte.min.css">
  <link rel="stylesheet" href="/../static/plugins/sweetalert2/sweetalert2.min.css">
  <link rel="stylesheet" href="/../static/css/index.css">
  <link rel="stylesheet" href="/../static/css/google-fonts.css">
  <script type="text/javascript" src="../../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    <aside class="main-sidebar sidebar-dark-primary elevation-4">

      <div class="sidebar">
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item ">
              <a href="/stream/list" class="nav-link {{ if  (eq .page " stream_list") }} active {{end}}">
                <i class="fas fa-list"></i>
                <p>Streams list</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/stream/add" class="nav-link {{ if  (eq .page " add_stream") }} active {{end}}">
                <i class="fas fa-plus"></i>
                <p>Add stream</p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->

      <!-- /.content-header -->