<!-- /모달 -->
<!-- data-backdrop="static"와 data-keyboard="false"로 자동 닫힘을 방지 -->
<div class="modal fade" id="previewbox" tabindex="-1" role="dialog" aria-labelledby="videoChatModalLabel"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <!-- -->
    <div class="modal-dialog" role="document" style="max-width: 720px; margin: auto;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <input type="hidden" name="media_svr_address" id="media_svr_address" value="{{.media_svr_addr}}">
                <input id="stream-name-previewbox" value="" readonly>
                <button type="button" id="previewboxCloseButton" class="btn btn-secondary"
                    onclick="closePreviewBox(event)">Close</button>
            </div>
            <div class="modal-body">
                <video class="img-fluid" name="preview-video" id="videoElem" autoplay muted no_controls
                    style="width: 99%;">
                </video>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" id="previewboxCloseButton" class="btn btn-secondary"
                    onclick="closePreviewBox(event)">Close</button>
            </div> -->
        </div>
    </div>
</div>

<script>
    let previewbox_closingInProgress = false;// 플래그: 모달 닫기 작업 실행 중인지 확인
    let previewbox_modal = null;
    let previewbox_videoelem = null;

    function _showPreviewboxModal() {
        previewbox_closingInProgress = false;

        previewbox_modal = $("#previewbox");
        previewbox_modal.on('hidden.bs.modal', e => {
            console.log("previewbox closed ...'hidden.bs.modal'");
            previewbox_closingInProgress = false;// 모달이 완전히 닫힌 후 플래그 리셋 처리
        });
        previewbox_modal.modal('show');

        // 모달 외의 영역(백드롭)을 클릭했을 때 처리
        // backdrop: 'static' 모드에서는 기본 자동 닫힘이 발생하지 않으므로, 수동으로 이벤트 처리
        $("body").on("click", ".modal-backdrop", closePreviewBox);
    }

    function openPreviewBox(in_uuid, in_name) {// 모달 열기
        _showPreviewboxModal()

        document.getElementById('stream-name-previewbox').value = in_name;//$('#stream-name-previewbox').value = in_name
        previewbox_videoelem = document.getElementById('videoElem')
        openWebrtcPlayer($('#media_svr_address').val(), in_uuid, previewbox_videoelem);
    };

    function _stopPreviewboxVideo() {
        console.log("모달 닫기 전 사전 작업 실행...");
        disconnect_webrtc_peer()

        previewbox_videoelem.pause();
        previewbox_videoelem.src = "";
        previewbox_videoelem.load();
        console.log("사전 작업 완료.");
    }

    function closePreviewBox(e) {
        console.log("closePreviewBox...");
        if (e != '') {
            e.preventDefault();
        }
        if (previewbox_closingInProgress) {
            console.log("closePreviewBox...failure 'already closing'");
            return;
        }
        previewbox_closingInProgress = true;
        /*
            const _prepareCloseModal = async function () {
                _stopPreviewboxVideo();
                return new Promise((resolve, reject) => {
                    resolve();
                });
            }
            const _modalClose = function () { previewbox_modal.modal('hide'); }
            
            _prepareCloseModal()
              .finally(() => { _modalClose(); });
        /*/
        _stopPreviewboxVideo();
        previewbox_modal.modal('hide');
        //*/
    }


    async function _mySleep(ms) { return new Promise(resolve => setTimeout(resolve, ms)); }
</script>
<script type="text/javascript" src="../static/js/webrtcPlayClient.js"></script>
<!-- <script>
  function LoadClientApp() {
    // const clinent_app_addr = 'http://' + $('#media_svr_address').val() + '/static/js/webRtcPlayClient.js';
    const clinent_app_addr = 'http://127.0.0.1:8083/static/js/webrtcPlayClient.js';
    let logbox = document.getElementById('webrtcPlayLog');
    if (logbox) {
      let msg = "client_app_addr : " + clinent_app_addr;
      let now = new Date();
      let dateString = now.toLocaleString();
      document.getElementById('webrtcPlayLog').innerHTML += `[${dateString}] ${msg}<br>`;
      console.log("   '" + msg + "'");
    }
    const script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = clinent_app_addr;
    script.onload = function () {
      console.log('External script loaded successfully.');
    };
    script.onerror = function () {
      console.error('Failed to load the external script.');
    };
    document.head.appendChild(script);
  }

  LoadClientApp();
</script> -->
<!-- /모달 -->