{{template "head.html" .}}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Streams list</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <input type="hidden" name="media_svr_address" id="media_svr_address" value="{{.media_svr_addr}}">
        <!-- "10.10.1.183:8083"> -->
        <input name="suuid" id="suuid" value="">
        <button type="button" onclick="CloseInnerVideo()" class="btn btn-primary">Close Preview</button>
        <div hidden id="remoteVideos">
          <video style="width:600px" id="videoElem" autoplay muted no_controls></video>
        </div>
        <!-- <div id="webrtcPlayLog"><br></div> -->
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="col-6">
      <h5 style="text-align: center;"> {{ len .streams}} Stream(s) </h5>
    </div>

    <div class="stream_list">
      {{ range $key, $value := .streams }}
      <div class="row mt-3">
        <div class="col-9" id="{{ $key }}">
          <div class="card-header">
            <h3 class="card-title one-line-header" style="margin-right: 100px;">{{.Name}}</h3>
            <button class="btn"
              style="width: 100px; height: 35px ;background-color: #2c312c; color: white;  margin-right: 10px;"
              onclick="OpenInnerVideo({{ $key }})">
              <i class="fas fa-play"></i> Preview
            </button>
            <a class="btn"
              style="width: 100px; height: 35px ;background-color: #2c312c; color: white; margin-right: 10px;"
              href="/stream/edit/{{$key}}"> <i class="fas fa-pen"></i> Edit</a>
            <a class="btn"
              style="width: 100px; height: 35px ;background-color: #2c312c; color: white; margin-right: 10px;"
              href="/stream/delete/{{$key}}"> <i class="fas fa-pen"></i> Delete</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>

    <div class="row mt-3">
      <div class="col-9">
        <button type="button" onclick="UpdateList()" class="btn btn-primary">Update(refresh) List</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="../../static/js/inner_webrtcPlayClient.js"></script>
<!-- <script>
  function LoadClientApp() {
    // const clinent_app_addr = 'http://' + $('#media_svr_address').val() + '/static/js/inner_webRtcPlayClient.js';
    const clinent_app_addr = 'http://127.0.0.1:8083/static/js/inner_webrtcPlayClient.js';
    let logbox = document.getElementById('webrtcPlayLog');
    if (logbox) {
      let msg = "client_app_addr : " + clinent_app_addr;
      let now = new Date();
      let dateString = now.toLocaleString();
      document.getElementById('webrtcPlayLog').innerHTML += `[${dateString}] ${msg}<br>`;
      console.log("   '" + msg + "'");
    }
    const script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = clinent_app_addr;
    script.onload = function () {
      console.log('External script loaded successfully.');
    };
    script.onerror = function () {
      console.error('Failed to load the external script.');
    };
    document.head.appendChild(script);
  }

  LoadClientApp();
</script> -->

<script>
  function CloseInnerVideo() {
    disconnect_webrtc_peer()
    const div_video = document.getElementById("remoteVideos");
    div_video.setAttribute("hidden", "");
  }
  function OpenInnerVideo(in_value) {
    const inputElement = document.getElementById('suuid');
    inputElement.value = in_value;
    openWebrtcPlayer($('#media_svr_address').val(), in_value, videoElem);
    const div_video = document.getElementById("remoteVideos");
    div_video.removeAttribute("hidden");
  }

  const req_update_list = "update_stream"
  function UpdateList() {
    CloseInnerVideo();
    Request_UpdateList();
  }

  function Request_UpdateList() {

    var ajaxParam = {
      url: '/stream/updatelist',
      type: 'GET',
      beforeSend: function (xhr) {
        xhr.setRequestHeader("Authorization", "Basic " + btoa("demo:demo"));
      },
      success: function (response) {  //response handle
        if (response.status == "success") {
          window.location.href = '/stream/list';
          // Swal.fire( 'Added!', 'Your stream has been Added.',  'success' );
        } else {
          Swal.fire({
            icon: 'error', title: 'Oops...', text: 'Same mistake issset',
          })
        }
      },
      error: function (e) {
        console.log(e);
      }
    };

    $.ajax(ajaxParam);
  }

</script>


{{template "foot.html" .}}